<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/xxx.css">
</head>
<body>
<h1>ユーザ情報</h1>
<!-- 名前:<span th:text="${session.user.name}"></span><br>
誕生日:<span th:text="${session.user.birthDay}"></span><br>
コメント:<span th:text="${session.user.comment}"></span><br> -->
名前:<span th:text="${application.user.name}"></span><br>
誕生日:<span th:text="${application.user.birthDay}"></span><br>
コメント:<span th:text="${application.user.comment}"></span><br>
<a th:href="@{/ex10/to-page2}">あにゃ2</a><br>
</body>
</html>